%h1.underlined
  Правка заказа
  = link_to 'Заказы', admin_orders_path

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{href: "#edit", role: 'tab', data: {toggle: 'tab'}} Правка заказа
  %li
    %a{href: "#info", role: 'tab', data: {toggle: 'tab'}} Информация

.tab-content.container-fluid
  .in.active.row.container-fluid#edit
    .row
      .col-xs12.col-lg-8
        = render "carts/line_items"
        = render 'orders/discount'

      .col-xs12.col-lg-4
        .container-fluid
          .row
            = render 'orders/add_by_article'
          - if can? :add_shipping, @order
            .row
              .form-group
                = render 'orders/add_shipping'
          - if can? :add_discount, @order
            .row
              .form-group
                = render 'orders/add_discount'


  .row#info
    .order= render 'form'
