- @page_title = "Заказ № #{@order.id}"
.container-fluid.carts
  - if flash[:order_created]
    .alert.alert-success.alert-dismissable
      %button.close{type: 'button', data: {dismiss: 'alert'}, "aria-hidden" => 'true'} &times;
      = flash[:order_created]
  %h1.underlined
    = @page_title
    = link_to 'Правка', edit_order_path(@order) if can? :update, @order
    = link_to 'Печать', print_order_path(@order), class: 'btn-primary' if can? :print, @order
  .row
    - if @order.token == params[:t] || can?(:show, @order)
      .col-lg-4.col-lg-push-8
        = render 'orders/client_info'
      .col-lg-8.col-lg-pull-4
        = render "carts/line_items"
        = render 'orders/discount'
    - else
      .info.text-danger У вас нет прав на просмотр информации об этом заказе
